body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #fff;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
}

.section {
  padding: 140px 0;
}

.header {
  color: #FFFFFF;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.4s;
}

body.scroll header {
  background-color: rgba(35, 82, 222, 1);
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  color: #fff;
  z-index: 0;
}

.hero::before {
  content: '';
  background-color: rgba(35, 82, 222, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding 0.4s;
  padding-top: 80px;
}

body.scroll .menu {
  padding-top: 15px;
}

.header__logo {
  transform: translateY(-19px);
  transition: transform 0.4s;
}

body.scroll .header__logo {
  transform: translateY(0);
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  padding-bottom: 35px;
  transition: padding 0.4s;
}

body.scroll .menu__list {
  padding-bottom: 10px;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-weight: 600;
  line-height: 25px;
  transition: color 0.3s
}

.menu__link:hover,
.header__link:hover {
  color: #A65434;
}

.menu__link:active,
.header__link:active {
  color: #088538d5;
}

.menu__link:focus,
.header__link:focus {
  box-shadow: 0 2px #0cacc9;
  outline: transparent;
}

.header__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 160px;
}

.header__title {
  font-size: 48px;
  line-height: 1.4;
  font-weight: 400;
  max-width: 620px;
  margin: auto 0;
}

.header__text {
  font-weight: 700;
  font-size: 90px;
  line-height: 1.4;
}

.header__link {
  margin-bottom: 63px;
  font-weight: 600;
  line-height: 25px;
  position: relative;
  transition: color 0.3s;
  align-self: center;
}

.header__link::after {
  content: '';
  position: absolute;
  background-image: url('../images/header-icon.svg');
  width: 37px;
  height: 23px;
  right: 56px;
  top: 34px;
}

.about__text p:not(:last-child) {
  margin-bottom: 30px;
  text-align: justify;
}

.skills {
  background-color: #F6F6F8;
}

.skills__inner {
  display: flex;
}

.skills__img {
  margin-right: 90px;
}

.skills__info {
  align-self: center;
  max-width: 664px;
  width: 100%;
}

.skills__item {
  margin-bottom: 86px;
  padding-left: 64px;
  position: relative;
}

.skills__item:last-child {
  margin-bottom: 0;
}

.skills__graph {
  width: 100%;
  height: 32px;
  background-color: #DBDBED;
  position: relative;
}

.skills__percent {
  content: '';
  position: absolute;
  background-color: #2352DE;
  left: 0;
  top: 0;
  bottom: 0;
}

.skills__text {
  position: absolute;
  left: 0;
  top: 3px;
  font-weight: 600;
  line-height: 18px;
}

.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 330px;
  padding-top: 90px;
  position: relative;
}

.services__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
}

.services__item--coding::before {
  background-image: url('../images/code-icon.svg');
}

.services__item--cms::before {
  background-image: url('../images/dev-icon.svg');
}

.services__item--support::before {
  background-image: url('../images/chat-icon.svg');
}

.services__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.services__text {
  font-size: 16px;
}

.portfolio {
  text-align: center;
  padding-top: 0;
}

.portfolio__filters {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio__item:not(:last-child) {
  margin-right: 35px;
}

.portfolio__btn {
  border: 2px solid transparent;
  background-color: transparent;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  transition: color 0.3s, border-color 0.3s, border-radius 0.3s, background-color 0.3s;
  outline: transparent;
}

.portfolio__btn:hover {
  border-color: #59A5FF;
  border-radius: 10px;
  background-color: #59A5FF;
}

.portfolio__btn:active {
  color: #3D8A22
}

.portfolio__btn:focus {
  background-color: #D2A322;
  border: 2px solid #D2A322;
  border-radius: 20px;
}

.mixitup-control-active {
  color: #2352DE;
}

.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -45px;
  margin-bottom: 15px;
}

.portfolio__box {
  margin-right: 45px;
  margin-bottom: 45px;
}

.btn {
  font-weight: 600;
  line-height: 1.3;
  padding: 12px 24px;
  background-color: #2352DE;
  color: #fff;
  border: 2px solid transparent;
  font-size: 18px;
  transition: background-color 0.4s, box-shadow 0.3s, border-radius 0.3s, color 0.3s;
}

.btn:hover {
  background-color: rgba(35, 82, 222, 0.66);
}

.btn:focus {
  outline: transparent;
  box-shadow: 0 0 0 5px lightskyblue;
  border-radius: 10px;
}

.btn:active {
  color: #C052DE;
}

.feedback {
  background-color: #F6F6F8;
  text-align: center;
}

.feedback__content {
  display: flex;
  justify-content: space-around;
}

.feedback__clients {
  max-width: 400px;
  width: 100%;
  text-align: center;
  align-self: center;
}

.feedback__clients .feedback__avatar {
  margin-bottom: 20px;
  display: inline-block;
}

.feedback__blockquote {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
}

.feedback__author {
  display: block;
  font-style: normal;
  font-weight: 600;
  color: #2352DE;
  margin-bottom: 20px;
}

.feedback__video {
  max-width: 570px;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.feedback__video::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.feedback__link {
  display: block;
  height: inherit;
  position: relative;
  transition: background-color 0.3s;
}

.feedback__link::before {
  content: '';
  position: absolute;
  width: 85px;
  height: 100px;
  left: 50%;
  top: 38%;
  transform: translateX(-50%);
  background-image: url('../images/play.svg');
}

.feedback__link:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.stats__items {
  display: flex;
  justify-content: space-between;
}

.stats__item {
  text-align: center;
  padding: 150px 46px 50px;
  position: relative;
  background-color: #F6F6F8;
}

.stats__item:last-child {
  padding: 150px 70px 50px;
}

.stats__item::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 12%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

}

.stats__item--works::before {
  background-image: url('../images/works.svg');
}

.stats__item--clients::before {
  background-image: url('../images/clients.svg');
}

.stats__item--coffee::before {
  background-image: url('../images/coffee.svg');
}

.stats__item--review::before {
  background-image: url('../images/review.svg');
}

.stats__text {
  line-height: 23px;
  margin-bottom: 20px;
  display: block;
}

.stats__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
}

.contacts {
  padding-top: 0;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  max-width: 531px;
}

.contacts p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.contacts__connection a {
  font-size: 16px;
  line-height: 1.3;
  color: #2352DE;
  display: block;
  margin-bottom: 15px;
  outline: transparent;
  transition: color 0.3s;
}

.contacts__connection a:hover {
  color: rgba(37, 138, 148, 0.7);
}

.contacts__connection a:active {
  color: red;
}

.contacts__connection a:focus {
  text-decoration: underline;
}

.contacts__connection a:last-child {
  margin-bottom: 21px;
}

.contacts__socials {
  display: flex;
}

.contacts__item {
  position: relative;
  margin-right: 20px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__icon {
  width: 44px;
  height: 44px;
  display: block;
}

.contacts__icon:hover {
  transform: scale(1.1);
}

.contacts__icon:focus {
  background-color: rgba(35, 82, 222, 0.5);
}

.contacts__icon--instagram {
  background-image: url('../images/instagram.svg');
}

.contacts__icon--facebook {
  background-image: url('../images/facebook.svg');
}

.contacts__icon--telegram {
  background-image: url('../images/telegram.svg');
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts-form {
  max-width: 540px;
  width: 100%;
  font-size: 14px;
  line-height: 1.3;
}

.contacts-form__inner {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.contacts-form__item {
  max-width: 255px;
  width: 100%;
}

.contacts-form__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  display: block;
  margin-bottom: 10px;
}

.contacts-form__input {
  max-width: 255px;
}

.contacts-form__group {
  border: none;
  padding: 13px 0 13px 15px;
  width: 100%;
  background-color: #F6F6F8;
}

.contacts-form__group:focus {
  outline: 1px solid #2352DE;
}

.contacts-form__group::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #9C9CAB;
}

.contacts-form--textarea {
  height: 113px;
  margin-bottom: 30px;
  resize: none;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #343740;
  padding: 50px 10px;
}

@media (max-width: 1280px) {
  .section {
    padding: 90px 0;
  }

  .title {
    margin-bottom: 35px;
    font-size: 42px;
    text-align: center;
  }

  .header__title {
    font-size: 42px;
    max-width: 570px;
  }

  .header__text {
    font-size: 82px;
  }

  .skills__img {
    margin-right: 45px;
  }

  .feedback__blockquote {
    font-size: 20px;
  }

  .portfolio__content {
    margin-right: 0;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
  }

  .portfolio__box {
    margin-right: 0;
    margin-bottom: 40px;
    width: calc(100% / 2 - 20px);
  }

  .portfolio__img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }

  .stats__item:not(:last-child) {
    margin-right: 20px;
  }

  .contacts__info {
    margin-right: 40px;
  }

  .contacts-form__inner {
    justify-content: flex-start;
  }

  .contacts-form__item:first-child {
    margin-right: 30px;
  }

}

@media (max-width: 992px) {
  
  .header {
     background-color: rgba(35, 82, 222, 1);
  }

  body.lock {
    overflow: hidden;
  }

  .header__content {
    min-height: 400px;
  }

  .menu {
    padding-top: 9px;
    align-items: center;
    position: relative;
    background-color: rgba(35, 82, 222, 1);
  }

  body.scroll .menu {
    padding-top: 9px;
  }

  .header__logo {
    transform: translateY(0);
    position: relative;
    z-index: 3;
  }


  .menu__btn {
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .menu__btn::before,
  .menu__btn::after,
  .menu__line {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #fff;

  }

  .menu__btn::before {
    top: 0;
    transition: transform 0.4s, top 0.4s;
  }

  .menu__btn.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__btn::after {
    bottom: 0;
    transition: transform 0.4s, bottom 0.4s;
  }

  .menu__btn.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__line {
    top: 9px;
    transition: transform 0.4s;
  }

  .menu__btn.active .menu__line {
    transform: scale(0);
  }

  .menu__list {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 110px;
    text-align: center;
    background-color: rgba(36, 82, 222, 0.9);
    transform: translateY(-100%);
    transition: transform 0.8s;
    height: 100vh;
    overflow: auto;
    z-index: -1;
    margin: 0 -10px;
  }

  .menu.active .menu__list {
    transform: translateY(0);
  }

  .menu__link {
    display: block;
    padding: 12px 0;
    font-weight: bold;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .header__title {
    font-size: 35px;
    max-width: 483px;
  }

  .header__text {
    font-size: 70px;
  }

  .header__link {
    margin-bottom: 50px;
    z-index: 1;
  }

  .section {
    padding: 70px 0;
  }

  .title {
    margin-bottom: 35px;
    font-size: 38px;
  }

  .skills__inner {
    display: block;
  }

  .skills__img {
    display: block;
    margin: 0 auto 50px auto;
  }

  .skills__info {
    margin: 0 auto;
  }

  .skills__item {
    margin-bottom: 30px;
  }

  .services__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .services__item {
    margin-bottom: 30px;
    padding-top: 55px;
  }

  .services__item::before {
    width: 45px;
    height: 45px;
    background-size: contain;
  }

  .services__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .portfolio__content {
    margin-bottom: 10px;
  }

  .portfolio__box {
    margin-bottom: 30px;
    width: calc(100% / 2 - 15px);
  }

  .portfolio__filters {
    margin-bottom: 40px;
  }

  .portfolio__item:not(:last-child) {
    margin-right: 30px;
  }

  .feedback__content {
    flex-direction: column;
    align-items: center;
  }

  .feedback__clients {
    margin-bottom: 30px;
  }

  .feedback__author {
    margin-bottom: 10px;
  }

  .stats__items {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -20px;
  }

  .stats__item {
    margin-right: 0;
    margin-bottom: 25px;
    width: calc(100% / 2 - 25px);
  }

  .stats__item:not(:last-child) {
    margin-right: 0px;
  }

  .contacts-form__item {
    margin-bottom: 20px;
  }

  .contacts-form__inner {
    margin-bottom: 20px;
    display: block;
  }

  .contacts-form--textarea {
    margin-bottom: 20px;
  }

  .contacts-form {
    padding-left: 30px;
  }

  .contacts-form__item {
    max-width: 100%;
  }

}

@media (max-width: 768px) {
  .header__title {
    font-size: 30px;
    max-width: 400px;
  }

  .header__text {
    font-size: 52px;
  }

  .title {
    margin-bottom: 30px;
    font-size: 38px;
  }

  .skills__info {
    max-width: 600px;
    margin: 0 auto;
  }

  .portfolio__img {
    height: auto;
  }

  .portfolio__btn {
    font-size: 19px;
  }

  .portfolio__item:not(:last-child) {
    margin-right: 14px;
  }

  .contacts__inner {
    flex-direction: column;
    align-items: center;
  }

  .contacts__info {
    margin-right: 0;
    order: 2;
  }

  .contacts p {
    margin-bottom: 20px;
  }

  .contacts__connection a {
    margin-bottom: 10px;
  }

  .contacts-form {
    margin-bottom: 40px;
    padding-left: 0;
  }

  .btn {
    font-size: 16px;
    padding: 12px 17px;
  }


}

@media (max-width: 576px) {

  .section {
    padding: 62px 0;
  }
  
  .header__title {
    font-size: 26px;
    max-width: 300px;
  }

  .header__text {
    font-size: 38px;
  }

  .skills__img {
    width: 100%;
    height: auto;
  }

  .skills__graph {
    height: 28px;
  }

  .portfolio__filters {
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
  }

  .portfolio__filters::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .portfolio__filters::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  .portfolio__filters::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148)));
  }

  .portfolio__btn {
    display: inline-block;
  }

  .portfolio__btn:focus {
    border: none;
  }

  .portfolio__box {
    margin-bottom: 10px;
    width: calc(100% / 2 - 5px);
  }

  .portfolio__img {
    height: auto;
  }

  .stats__items {
    display: block
  }

  .stats__item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
    padding: 120px 46px 50px;
  }

  .stats__items {
    flex-wrap: nowrap;
  }

  .stats__item::before {
    width: 80px;
    height: 80px;
  }

  .stats__item--review::before {
    top: 20%;
  }

  .stats__text {
    margin-bottom: 14px;
  }

}